/* screen1.css: Screen Styles */



html { background-color:#FFFFFF; }

body { font-family: 'Ubuntu', sans-serif;
       font-size: 100%;

}



/*Responsive Grid Layout three column grid like a chicago style window*/

/*Web Fonts from Google - <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Cagliostro|Voltaire' rel='stylesheet' type='text/css'>*/

/*Media Queries so the site is optimized for mobile devices, large screens and everything in between*/

/*Scaleable images*/

/*Really cool glowy navigation*/


/* Bold on headings, b, and strong */
h1,h2,h3,h4,strong,em { 
 font-family: 'Ubuntu', sans-serif;
  font-weight: bold; 
  font-size: 100%;
  color: #8B4789;
 
}



h1 { 
  margin: 0px; 
  padding-top: 1em; 
  text-align: left;    
  font-size: 2.0em;
  
} 
  

h2 { 
  margin: 0px; 
  padding-top: 30px; 
  text-align: left;    
  font-size: 1.5em;
  list-style-type: none;
} 

h3 { 
  margin: 0px; 
  padding-top: 30px; 
  text-align: left;    
  list-style-type: none;
} 

a { 
  color: #8B4789; 
}

em { 
  font-style: normal;
} 

#tagline { 
  padding-top: 100px; 
  padding-bottom: 50px;
  float: left; 
  list-style-type: none;
} 

#contactinfo { 
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  float: left;
  list-style-type: none;
  width: auto;   
  text-align: left; 
  background: #ACA786;
} 

#navigation { 
  padding-top: 30px; 
  padding-bottom: 10px;
  padding-right: 50px;
  float: left; 
  list-style-type: none;
  text-align: right;
  background: #ACA786;
} 

#logo { 
  padding-top: 10px; 
  height: 100px; 
  padding-bottom: 10px;
  padding-right: 28px;
  width: auto;  
  float: left; 
  background: #ACA786;
} 

ul.programs {
  padding-top: 160px;
  padding-bottom: 50px;
  padding-left: 25px;
}


@media (min-width: 20em) {
   html {
  
  #tagline 
      font-size: 200%;
   }
}



